{{log model.speakers}}

<section>
    <div class="container">
        <div class = "row">
            <h1 class = "bg-txt">All documents</h1>
      </div>
  </div>
</section>
{{#each model.documents as |model|}}

<section>
    <div class="container">
        <div class = "row">
            <h1 class = "bg-txt">Document overview</h1>

{{#link-to "documents.show" model.id}}
            <p class = "sm-txt" align = "justify"><b>See document:  </b> {{model.documentLink}}</p>
              <br/>
        </div>
    </div>
</section>
<br>
{{/each}}
