{{log model.documents}}
<section>
    <div class="container">
        <div class = "row">
            <h1 class = "bg-txt">Document overview</h1>
            <p class = "md-txt">{{model.document.documentLink}} </p>
              <br/>
        </div>
    </div>
</section><br>
