<header class="actis-jumbotron">
	<div class="container">
		<div class="row jumbotron-content-holder">
			<div class="col-md-8">
				<h1 class="bg-txt">IX Annual Conference for Technology and Information Security</h1>
				<h2 class="md-txt">Sarajevo, June 20-23</h2>
				<br/>
				{{#link-to 'register'}} 	<a class="btn btn-primary">REGISTER NOW</a> {{/link-to}}
			</div>
		</div>
	</div>
</header>
