<footer class="main-footer">
	<div class="container">
		<div class="row">
			<div class="col-md-7">
				<div class="footer-logo">
					<a href="./" class="nav-logo">actis <span class="year-stamp hidden-xs hidden-sm">|</span></a>
				</div>
				<div class="footer-copyright">
					<p>
						IX Annual Conference for Technology and Information Security.<br/>&copy; 2017 All rights resesrved.
					</p>
				</div>
			</div>

			<div class="col-md-5"></div>
		</div>
	</div>
</footer>