<nav role="navigation" class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="./" class="navbar-brand nav-logo">actis <span class="year-stamp">| 2017</span></a>
        </div>

        <div id="navbarCollapse" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
              <li> {{#link-to 'index' }}Home  {{/link-to}}</li>
                <li> {{#link-to 'info'}} Info  {{/link-to}}</li>
                <li> {{#link-to 'organization'}}Organization  {{/link-to}}</li>
                <li> {{#link-to 'program'}} Program  {{/link-to}}</li>
                <li> {{#link-to 'schedule'}}Schedule  {{/link-to}}</li>
                <li> {{#link-to 'travel-accomodation'}} Travel &amp; accomodation  {{/link-to}}</li>
                      <li> {{#link-to 'speakers'}}Speakers  {{/link-to}}</li>
                <li> {{#link-to 'login'}}Login  {{/link-to}}</li>
            </ul>
        </div>
    </div>
</nav>
