<section class="sponsors-section-holder">
	<div class="container">
		<div class="text-center">
			<h1 class="bg-txt">Sponsors</h1>
			<h3 class="md-txt">Thank you to all of our sponsors for their generous support of actis 2017!</h3>
		</div>
		
		<div class="row">
			<div class="container">
				<div class="col-md-10 col-md-offset-1">
					<ul class="sponsors-ul">
						<li><img src="assets/images/etf-logo.png" alt=""></li>
						<li><img src="assets/images/ieee-logo.png" alt=""></li>
						<li><img src="assets/images/ieee-cs-logo.png" alt=""></li>
						<li><img src="assets/images/css-logo.png" alt=""></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>