<div class="container">
<div class="row">
<h1 class="bg-txt col-md-12">Welcome reviewer</h1>
</div>
<br>
<br>
<div class="row">

  <div class="md-txt col-md-9">
  Rate your works by ratings from 1 to 5:
  <form>
  <ul>
    <li>Work1</li>
    			<label class="btn btn-success active">
    				<input type="radio" name="options" id="option2" autocomplete="off" chacked>
    				<span>1</span>
    			</label>

    			<label class="btn btn-primary">
    				<input type="radio" name="options" id="option1" autocomplete="off">
    				<span>2</span>
    			</label>

    			<label class="btn btn-info">
    				<input type="radio" name="options" id="option2" autocomplete="off">
    				<span >3</span>
    			</label>

    			<label class="btn btn-default">
    				<input type="radio" name="options" id="option2" autocomplete="off">
    				<span >4</span>
    			</label>

    			<label class="btn btn-warning">
    				<input type="radio" name="options" id="option2" autocomplete="off">
    				<span >5</span>
    			</label>



<li>Work2</li>
    			<label class="btn btn-success active">
    				<input type="radio" name="options" id="option2" autocomplete="off" chacked>
    				<span>1</span>
    			</label>

    			<label class="btn btn-primary">
    				<input type="radio" name="options" id="option1" autocomplete="off">
    				<span>2</span>
    			</label>

    			<label class="btn btn-info">
    				<input type="radio" name="options" id="option2" autocomplete="off">
    				<span >3</span>
    			</label>

    			<label class="btn btn-default">
    				<input type="radio" name="options" id="option2" autocomplete="off">
    				<span >4</span>
    			</label>

    			<label class="btn btn-warning">
    				<input type="radio" name="options" id="option2" autocomplete="off">
    				<span >5</span>
    			</label>
<li>Work3</li>


    			<label class="btn btn-success active">
    				<input type="radio" name="options" id="option2" autocomplete="off" chacked>
    				<span>1</span>
    			</label>

    			<label class="btn btn-primary">
    				<input type="radio" name="options" id="option1" autocomplete="off">
    				<span>2</span>
    			</label>

    			<label class="btn btn-info">
    				<input type="radio" name="options" id="option2" autocomplete="off">
    				<span >3</span>
    			</label>

    			<label class="btn btn-default">
    				<input type="radio" name="options" id="option2" autocomplete="off">
    				<span >4</span>
    			</label>

    			<label class="btn btn-warning">
    				<input type="radio" name="options" id="option2" autocomplete="off">
    				<span >5</span>
    			</label>
<li>Work4</li>


    			<label class="btn btn-success active">
    				<input type="radio" name="options" id="option2" autocomplete="off" chacked>
    				<span>1</span>
    			</label>

    			<label class="btn btn-primary">
    				<input type="radio" name="options" id="option1" autocomplete="off">
    				<span>2</span>
    			</label>

    			<label class="btn btn-info">
    				<input type="radio" name="options" id="option2" autocomplete="off">
    				<span >3</span>
    			</label>

    			<label class="btn btn-default">
    				<input type="radio" name="options" id="option2" autocomplete="off">
    				<span >4</span>
    			</label>

    			<label class="btn btn-warning">
    				<input type="radio" name="options" id="option2" autocomplete="off">
    				<span >5</span>
    			</label>
  </ul>
  <br>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
  </div>

</div>

</div>

{{ sponsors-section }}
{{ main-footer }}
