<div class="container">
<div class="row">
  <h1 class="bg-txt col-md-12">Add new reviewer</h1>
  <div class="col-md-12">
  <form>
    <div class="form-group">
      <label for="inputFirstname">First name</label>
      <input  class="form-control" id="inputFirstname"
      placeholder="First name">
    </div>
    <div class="form-group">
      <label for="inputLastname">Last name</label>
        <input  class="form-control" id="inputLastname"
      placeholder="Last name">
    </div>
    <div class="form-group">
      <label for="inputTitle">Title</label>
      <input  class="form-control" id="inputEmail"
      placeholder="Title">
    </div>
    <div class="form-group">
      <label for="inputCountry">Country</label>
      <input  class="form-control" id="inputCountry"
      placeholder="Country">
    </div>
    <div class="form-group">
      <label for="inputCity">City</label>
      <input  class="form-control" id="inputCity"
      placeholder="City">
    </div>
    <div class="form-group">
      <label for="inputEmail">email</label>
      <input type="email" class="form-control" id="inputEmail"
      placeholder="Email">
    </div>
    <div class="form-group">
      <label for="inputUserName">User name</label>
      <input class="form-control" id="inputEmail"
      placeholder="Email">
    </div>
    <div class="form-group">
      <label for="inputPassword">Password</label>
      <input type="password" class="form-control" id="inputPassword"
      placeholder="Password">
    </div>
    <div class="form-group">
      <label for="inputRemark">Remark</label>
      <input class="form-control" id="inputEmail"
      placeholder="Remark">
    </div>


    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
<br><br>
</div>
</div>
{{ sponsors-section }}
{{ main-footer }}
