
<div class="container">
<div class="row">
<h1 class="bg-txt col-md-12">Welcome admin</h1>
</div>
<div class="row">
<div class="col-md-2">
  <img class="img-responsive center-block" src="assets/images/docLogo.png">
</div>
<div class="col-md-4">
{{#link-to 'users'}}<a class="md-txt">View all users</a>{{/link-to}} <br><br>
{{#link-to 'dokument'}}<a class="md-txt">Documents view</a>{{/link-to}}
</div>
<div class="col-md-2">
  <img class="img-responsive center-block" src="assets/images/recLogo.png">
</div>
<div class="col-md-4">
<a class="md-txt">Reviewers review</a> <br><br>
{{#link-to 'add-reviewer'}} <a class="md-txt" >New reviewer</a>{{/link-to}} <br><br>
{{#link-to 'add-speaker'}}<a class="md-txt">New speaker</a>{{/link-to}}
</div>
</div>
<br>
<br>
<div class="row">
<div class="col-md-2">
  <img class="img-responsive center-block" src="assets/images/docRecLogo.png">
</div>
<br><br><br><br>
<div class="col-md-10">
<a class="md-txt" >Assign document to reviewer</a>
</div>
</div>
</div>

{{ sponsors-section }}
{{ main-footer }}
