{{ actis-jumbotron }}

<div id="index">
	<div class="container">
		<div class="row">
			<div class="about">
				
				<div class="about-title">
					<h4> What is ACTIS? </h4>
				</div>
				<div class="about-details">
					<span>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi lacinia elit ac ante pellentesque finibus. Duis gravida arcu lorem, eu vehicula enim aliquam sed. Sed porta vitae lectus pellentesque sodales. Sed ac turpis diam. Nulla feugiat nec erat a tempor. Suspendisse in pulvinar lorem. Duis sagittis, lacus sed consectetur sodales, dui purus pellentesque mauris, non iaculis nisl nisl nec felis. Pellentesque maximus, mauris id ornare tristique, nibh diam ornare lorem, eget euismod justo risus sed neque. Nam ac lacus vitae nisl suscipit faucibus id sit amet nisl.
						<br><br><br>
						IX Annual Conference for Technology and Information Security will be held in Sarajevo, June 20-23, 2017. 	
						
					</span>
				</div>
				
			</div>
		</div>
	</div>
</div>
{{ sponsors-section }}
{{ main-footer }}
