{{ actis-jumbotron }}

<div id="index">
	<div class="container">
		<div class="row">
			<div class="about">

				<div class="about-title">
					<h4> What is ACTIS? </h4>
				</div>
				<div class="about-details">
					<span>
						Founded in 2009, Annual Conference for Technology and Information Security (ACTIS)
						is one of the most prominent information security conferences in Eastern Europe.
						It is attended by professionals spanning every corner of Europe.
						It's very advanced conference focusing on applied digital security, bringing the industry's
						finest together in a relaxed environment that promotes collaboration, learning, and social networking.
	<br><br><br>
						IX Annual Conference for Technology and Information Security will be held in Sarajevo, June 20-23, 2017.

						<br><br><br>
						The conference lasts for four days and features a single track of thought provoking presentations,
						each prepared by an experienced professional and talented educator who is at the cutting edge
						of his or her field. We give preference to new and innovative material,
						highlighting important, emergent technologies, techniques, or best industry practices.

					</span>
				</div>

			</div>
		</div>
	</div>
</div>
{{ sponsors-section }}
{{ main-footer }}
