<<<<<<< HEAD
{{ main-navbar }}
{{ actis-jumbotron }}

<div class="container">
	<p>Content</p><br/>
	<p>Content</p><br/>
	<p>Content</p><br/>
	<p>Content</p><br/>
</div>

{{ sponsors-section }}
{{ main-footer }}
=======
<div id="index">
	<div class="container">
		<div class="row">
			<div class="about">
				
				<div class="about-title">
					<h4> O konferenciji </h4>
				</div>
				<div class="about-details">
					<span>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus in tempor diam. Mauris porta nisl diam, vel accumsan ipsum laoreet ac. Vestibulum sit amet lobortis odio. Donec vel ligula ligula. Mauris consequat mollis leo sit amet mattis. Donec accumsan diam eu nisi viverra convallis. Aenean volutpat dui nec urna fermentum, finibus sagittis lacus tincidunt. Praesent cursus risus mi, nec bibendum risus fringilla at. Phasellus eu elit et urna finibus aliquam sed quis ex. Morbi elementum risus eget augue vehicula, non vehicula mi commodo. Proin eleifend felis eget ligula suscipit interdum. Nunc consectetur, dolor eu dictum consectetur, sem elit porttitor sem, nec accumsan felis sem sed justo.
						<br><br><br>
						
						Phasellus orci sem, ultrices at metus vitae, mattis tempor dolor. Suspendisse sodales lectus ac magna ullamcorper pretium. Etiam ac accumsan lorem, id scelerisque neque. Vivamus volutpat libero at felis commodo vulputate. Fusce quis convallis libero, id tristique metus. Sed a sapien eget quam vulputate dictum id quis neque. Donec quis ante sed justo vestibulum feugiat. Donec quis leo risus. Sed a pretium dui, venenatis fermentum dolor.
					</span>
				</div>
				
			</div>
		</div>
	</div>
</div>
>>>>>>> origin/master
