{{ actis-jumbotron }}

<div id="index">
	<div class="container">
		<div class="row">
			<div class="about">
				
				<div class="about-title">
					<h4> What is ACTIS? </h4>
				</div>
				<div class="about-details">
					<span>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi lacinia elit ac ante pellentesque finibus. Duis gravida arcu lorem, eu vehicula enim aliquam sed. Sed porta vitae lectus pellentesque sodales. Sed ac turpis diam. Nulla feugiat nec erat a tempor. Suspendisse in pulvinar lorem. Duis sagittis, lacus sed consectetur sodales, dui purus pellentesque mauris, non iaculis nisl nisl nec felis. Pellentesque maximus, mauris id ornare tristique, nibh diam ornare lorem, eget euismod justo risus sed neque. Nam ac lacus vitae nisl suscipit faucibus id sit amet nisl.
						<br><br><br>
						IX Annual Conference for Technology and Information Security will be held in Sarajevo, June 20-23, 2017. 	

						<br><br><br>
						Vestibulum venenatis vehicula purus. Morbi dignissim nunc ac vehicula accumsan. Nam a nulla pulvinar, rhoncus tortor in, porttitor magna. Proin et sapien at tellus bibendum volutpat eu pretium ex. Pellentesque commodo congue enim eu luctus. Morbi et risus et purus fringilla molestie. Maecenas vel sapien et ligula egestas accumsan. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam suscipit eget metus id luctus. Sed in sodales sapien. Morbi id odio nec justo rhoncus auctor at vel massa.
						
					</span>
				</div>
				
			</div>
		</div>
	</div>
</div>
{{ sponsors-section }}
{{ main-footer }}
