{{ actis-jumbotron }}

<div class="container">
	<div class="row">
		<h1 class="bg-txt">Short description</h1>
		<p class="sm-txt" align="justify">Actis 2017 is the IX annual conference for technology and information securtiy. Like every year the conference will be held in Sarajevo. This year the conference will be held in June, starting on June 20th and ending on June 23rd.</p>
		<p class="sm-txt" align="justify">This year we expect the most number of guests and speakers yet which is a great reason to come for everyone interested in topics of technology and internet security.</p>
		<br>

		<h2 class="md-txt">This years topics are as follows:</h2>
		<ol type="I" class="sm-txt">
		  <li>Topic 1 - Short explanation</li>
		  <li>Topic 2 - Short explanation</li>
		  <li>Topic 3 - Short explanation</li>
		  <li>Topic 4 - Short explanation</li>
		</ol>
		<br/>
		<h2 class="md-txt">Important dates of this years conference are:</h2>
		<ol type="I" class="sm-txt">
		  <li>Date 1 - What happens on this date</li>
		  <li>Date 2 - What happens on this date</li>
		  <li>Date 3 - What happens on this date</li>
		  <li>Date 4 - What happens on this date</li>
		</ol>
		<br/>
		<a class="btn btn-primary">CALL FOR PAPERS</a>
	</div>
</div>

{{ sponsors-section }}
{{ main-footer }}
