{{ actis-jumbotron }}

<div class="container">
	<div class="row">
		<h1 class="bg-txt">Short description</h1>
		<p class="sm-txt" align="justify">Actis 2017 is the IX annual conference for technology and information securtiy. Like every year the conference will be held in Sarajevo. This year the conference will be held in June, starting on June 20th and ending on June 23rd.</p>
		<p class="sm-txt" align="justify">This year we expect the most number of guests and speakers yet which is a great reason to come for everyone interested in topics of technology and internet security.</p>
		<br>


		<h2 class="md-txt">This years topics are as follows:</h2>
		<ol type="I" class="sm-txt">
		  <li>Cyberwar and other modern myths - Dr. Michael A. VanPutte, Ph.D and others</li>
		  <li>What if encrypted communications are not as secure as we think? - Enrico Branca, OWASP</li>
		  <li>State of Windows Application Security: Shared Libraries - Chuanda Ding, Xuanwu Lab, Tencent</li>
		  <li>Let's Talk about WiFi - Dragos Ruiu</li>
		</ol>
		<br/>
		<h2 class="md-txt">Important dates of this years conference are:</h2>
		<ol type="I" class="sm-txt">
		  <li>June 20th - Cyberwar</li>
		  <li>June 21st - Encrypted communications</li>
		  <li>June 22nd - Windows Application Security</li>
		  <li>June 23rd - WiFi</li>
		</ol>
		<br/>
		<a class="btn btn-primary">CALL FOR PAPERS</a>
	</div>
</div>


{{ sponsors-section }}
{{ main-footer }}
