{{ actis-jumbotron }}

<section>
	<div class="container">
		<div class="row">
			<h1 class="bg-txt">Organizing committee</h1>
			<h3 class="md-txt">They make sure that everything goes right.</h3>
			<p class="sm-txt">
				The ACTIS 2017 Organizing Committee is involved in all aspects of the meeting, from creating the conference program to deciding which applicants are selected to attend. The Organizing Committee members are listed below:
			</p>

		</div>

		<div class="row organizing-committee-holder">
			<div class="col-md-4 text-center">
				<img class="img-responsive center-block" src="assets/images/adoe.jpg">
				<h3 class="md-txt">Adna Karkelja</h3>
				<p class="sm-txt">GENERAL CHAIR</p>
			</div>

			<div class="col-md-4 text-center">
				<img class="img-responsive center-block" src="assets/images/bdoe.jpg">
				<h3 class="md-txt">Lejla Kesko</h3>
				<p class="sm-txt">PROGRAM CHAIR</p>
			</div>

			<div class="col-md-4 text-center">
				<img class="img-responsive center-block" src="assets/images/cdoe.jpg">
				<h3 class="md-txt">Midhat Lavic</h3>
				<p class="sm-txt">FINANCE CHAIR</p>
			</div>
		</div>
	</div>
</section>

<section>
	<div class="container">
		<div class="row">
			<h1 class="bg-txt">Program committee</h1>
			<h3 class="md-txt">They create the conference program under organizing committee supervision.</h3>
			<p class="sm-txt">

			</p>
		</div>

		<div class="row">
			<h3 class="sm-txt"><b>Emina Krehic</b>, University of Sarajevo, Bosnia and Herzegovina</h3>
			<h3 class="sm-txt"><b>Amina Krekic</b>, University of Sarajevo, Bosnia and Herzegovina</h3>
			<h3 class="sm-txt"><b>Nejla Klisura</b>, University of Sarajevo, Bosnia and Herzegovina</h3>
			<h3 class="sm-txt"><b>Amer KodĹľaga</b>, University of Sarajevo, Bosnia and Herzegovina</h3>
		</div>
	</div>
</section>

{{ sponsors-section }}
{{ main-footer }}
