<div class="container">
<div class="row">
<h1 class="bg-txt col-md-12">Welcome reviewer</h1>
</div>
<br>
<br>
<div class="row">

  <div class="md-txt col-md-9">
  <ul>
    <li>Work1</li>{{#link-to 'info'}} Accept work  {{/link-to}} {{#link-to 'info'}} Decline work  {{/link-to}}
<li>Work2</li>{{#link-to 'info'}} Accept work  {{/link-to}} {{#link-to 'info'}} Decline work  {{/link-to}}
<li>Work3</li>{{#link-to 'info'}} Accept work  {{/link-to}} {{#link-to 'info'}} Decline work  {{/link-to}}
<li>Work4</li>{{#link-to 'info'}} Accept work  {{/link-to}} {{#link-to 'info'}} Decline work  {{/link-to}}
  </ul>
  </div>
  <div class="md-txt col-md-3">{{#link-to 'acceptedworks'}} Accepted works {{/link-to}}</div>
</div>

</div>

{{ sponsors-section }}
{{ main-footer }}
