{{ actis-jumbotron }}

<section>
    <div class="container">
        <div class = "row">
            <h1 class = "bg-txt">Keynote speakers</h1>
            <p class = "sm-txt" align = "justify">The following speakers will make reports at the IX annual conference for technology and information security - Actis 2017.</p>
            <br>

            <h2 class = "md-txt">Keynote speaker 1</h2>
            <p class = "sm-txt"><b>Topic 1</b></p>
            <p class = "sm-txt" align = "justify"><b>Short bio: </b>Biography of Keynote speaker 1.</p>
            <p class = "sm-txt" align = "justify"><b>Abstract: </b>Detailed review of Topic 1.</p>
            <br/>
            <h2 class = "md-txt">Keynote speaker 2</h2>
            <p class = "sm-txt"><b>Topic 2</b></p>
            <p class = "sm-txt" align = "justify"><b>Short bio: </b>Biography of Keynote speaker 2.</p>
            <p class = "sm-txt" align = "justify"><b>Abstract: </b>Detailed review of Topic 2.</p>
            <br/>
            <h2 class = "md-txt">Keynote speaker 3</h2>
            <p class = "sm-txt"><b>Topic 3</b></p>
            <p class = "sm-txt" align = "justify"><b>Short bio: </b>Biography of Keynote speaker 3.</p>
            <p class = "sm-txt" align = "justify"><b>Abstract: </b>Detailed review of Topic 3.</p>
            <br/>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class = "row">
            <h1 class = "bg-txt">Information for authors</h1>
            <p class = "sm-txt" align = "justify">Authors who want to participate Actis 2017 need to register using on-line submission system and then submit their paper proposals. Paper proposals will be reviewed by experts selected by the conference Program Committee, based on their demonstrated knowledge of relevant topics. The results of the review process will be posted on CMT site, and authors will be notified by email.</p>
            <br>
        </div>
    </div>
</section>

{{ sponsors-section }}
{{ main-footer }}