{{ actis-jumbotron }}

<section>
    <div class="container">
        <div class = "row">
            <h1 class = "bg-txt">Keynote speakers</h1>
            <p class = "sm-txt" align = "justify">The following speakers will make reports at the IX annual conference for technology and information security - Actis 2017.</p>
            <br>

            <h2 class = "md-txt">Dr. Michael A. VanPutte</h2>
            <p class = "sm-txt"><b>Cyberwar and other modern myths</b></p>
            <p class = "sm-txt" align = "justify"><b>Short bio: </b>Mike was born in Greece, NY and has spent his life touring the U.S. and the world. He is an award-winning expert on cyber warfare and a decorated combat veteran. After graduating from The Ohio State University he began his career as an elite U.S. Army Airborne Ranger and led troops in combat in Iraq. During his 26 years of government service, he worked side-by-side with cyber experts, law enforcement officers, and intelligence officers. He has taught computer security and cyber warfare at military schools, conducted offensive and defensive cyberwarfare operations, and led cyber research programs at the Defense Advanced Research Projects Agency (DARPA). He's an avid writer and will soon be releasing a military science fiction novel. He lives with his wife outside Tampa, Florida</p>
            <p class = "sm-txt" align = "justify"><b>Abstract: </b>We've lived under the cyberwar/cyberterrorist cloud for more than a decade.

But, we've yet to see a single, credible "cyberwarfare" event. And there's good reason: Cyberwarfare simply isn't an effective form of warfare. A digital attack could cause significant disruptions, but it wouldn't come close to the specter of nuclear Armageddon during the Cold War.


To better understand the hollowness of this threat, let's debunk five key myths of cyberwarfare:

Cyberwarfare Is New. Dust off your history books. Combatants have used information-based countermeasures and deception since ancient times. In the modern context, the only difference is that it occurs in cyberspace.

During the late-1990s war in Bosnia, hackers reportedly attacked NATO headquarters, disrupting communications channels to stop the bombing of Serbian positions. Assuming this did happen (NATO never confirmed the report), the cyberattacks would have forced NATO to take some counteraction. But, the Serbians and their underground supporters had little effect on the bombing campaign.</p>
            <br/>
            <h2 class = "md-txt">Enrico Branca</h2>
            <p class = "sm-txt"><b>What if encrypted communications are not as secure as we think?</b></p>
            <p class = "sm-txt" align = "justify"><b>Short bio: </b>Enrico Branca is an experienced researcher with specialist knowledge in Cyber security. He has been working in information security for over a decade with experience in software security, information security management, and cybersecurity R&D. He has been trained and worked in various roles during his career, including Senior Security Engineer, Security Architect, Disaster Recovery Specialist, Microsoft Security Specialist and others, and his current role as Independent Researcher in Cyber Intelligence.</p>
            <p class = "sm-txt" align = "justify"><b>Abstract: </b>The end-to-end encryption paradigm does not directly address risks at the communications endpoints themselves. Each users’ computer can still be hacked to steal his or her cryptographic key (to create a MITM attack) or simply read the recipients’ decrypted messages. Even the most perfectly encrypted communication pipe is only as secure as the mailbox on the other end. Companies may also willingly or unwillingly introduce back doors to their software that help subvert key negotiation or bypass encryption altogether. In 2013, information leaked by Edward Snowden showed that Skype had a back door which allowed Microsoft to hand over their users' messages to the NSA despite the fact that those messages were officially end-to-end encrypted.</p>
            <br/>
            <h2 class = "md-txt">Dragos Ruiu</h2>
            <p class = "sm-txt"><b>Let's Talk about WiFi</b></p>
            <p class = "sm-txt" align = "justify"><b>Short bio: </b>Dragos Ruiu is a network security researcher who is known for reporting BadBIOS which is an alleged advanced persistent threat with the ability to communicate between instances of itself across air gaps using ultrasonic communication between a computer's speakers and microphone.</p>
            <p class = "sm-txt" align = "justify"><b>Abstract: </b>Three years ago, security consultant Dragos Ruiu was in his lab when he noticed something highly unusual: his MacBook Air, on which he had just installed a fresh copy of OS X, spontaneously updated the firmware that helps it boot. Stranger still, when Ruiu then tried to boot the machine off a CD ROM, it refused. He also found that the machine could delete data and undo configuration changes with no prompting. He didn't know it then, but that odd firmware update would become a high-stakes malware mystery that would consume most of his waking hours.

In the following months, Ruiu observed more odd phenomena that seemed straight out of a science-fiction thriller. A computer running the Open BSD operating system also began to modify its settings and delete its data without explanation or prompting. His network transmitted data specific to the Internet's next-generation IPv6 networking protocol, even from computers that were supposed to have IPv6 completely disabled. Strangest of all was the ability of infected machines to transmit small amounts of network data with other infected machines even when their power cords and Ethernet cables were unplugged and their Wi-Fi and Bluetooth cards were removed. Further investigation soon showed that the list of affected operating systems also included multiple variants of Windows and Linux</p>
            <br/>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class = "row">
            <h1 class = "bg-txt">Information for authors</h1>
            <p class = "sm-txt" align = "justify">Authors who want to participate Actis 2017 need to register using on-line submission system and then submit their paper proposals. Paper proposals will be reviewed by experts selected by the conference Program Committee, based on their demonstrated knowledge of relevant topics. The results of the review process will be posted on CMT site, and authors will be notified by email.</p>
            <br>
        </div>
    </div>
</section>

{{ sponsors-section }}
{{ main-footer }}
