{{ actis-jumbotron }}
<div class="container">
<div class="row">
  <h1 class="bg-txt">Register</h1>
  <form>
    <div class="form-group">
      <label for="inputFirstname">Ime</label>
      <input type="email" class="form-control" id="inputFirstname"
      placeholder="Ime">
    </div>
    <div class="form-group">
      <label for="inputLastname">Prezime</label>
        <input type="email" class="form-control" id="inputLastname"
      placeholder="Prezime">
    </div>
    <div class="form-group">
      <label for="inputEmail">Email</label>
      <input type="email" class="form-control" id="inputEmail"
      placeholder="Email">
    </div>
    <div class="form-group">
      <label for="inputPassword">Password</label>
      <input type="password" class="form-control" id="inputPassword"
      placeholder="Password">
    </div>
    <div class="form-group">
      <label for="inputFunction">Funkcija na fakultetu</label>
      <input type="email" class="form-control" id="inputFunction"
      placeholder="Funkcija na fakultetu">
    </div>
    <div class="form-group">
      <label for="inputUniversity">Univerzitet</label>
      <input type="email" class="form-control" id="inputUniversity"
      placeholder="Univerzitet">
    </div>
    <div class="form-group">
      <label for="inputFaculty">Fakultet</label>
      <input type="email" class="form-control" id="inputFaculty"
      placeholder="Fakultet">
    </div>
    <div class="form-group">
      <label for="inputCountry">Država</label>
      <input type="email" class="form-control" id="inputCountry"
      placeholder="Država">
    </div>
    <div class="form-group">
      <label for="inputCity">Grad</label>
      <input type="email" class="form-control" id="inputCity"
      placeholder="Grad">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
<br><br>
</div>
</div>
{{ sponsors-section }}
{{ main-footer }}
