{{ actis-jumbotron }}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<hr>
			<div id="schedule">

				<div class="main-list">
					<!-- DAY -->
					<div class="dow Tue row full">
						<div class="col-sm-2 dow-label">
							<h2>Tue</h2>
							<small>June 20th</small>
						</div>

						<div class="col-sm-10 dow-content">
							<div class="full row mix schedule-item event" style="display: block;" >
								<!-- TIME -->
								<div class="time-wrapper col-sm-3">
									<p>09:00am - 10:00am</p>
								</div>
								<div class="sch_content-wrapper col-sm-9">
									<h3 class="event-title">Dr. Michael A. VanPutte</h3>
								</div>
							</div>
						</div>
						<div class="col-sm-10 dow-content">
							<div class="full row mix schedule-item event" style="display: block;" >
								<!-- TIME -->
								<div class="time-wrapper col-sm-3">
									<p>10:30am - 11:30am</p>
								</div>
								<div class="sch_content-wrapper col-sm-9">
									<h3 class="event-title">Dr. Michael A. VanPutte</h3>
								</div>
							</div>
						</div>
						<div class="col-md-10 col-md-offset-2 dow-content">
							<div class="full row mix schedule-item event" style="display: block;" >
								<!-- TIME -->
								<div class="time-wrapper col-sm-3">
									<p>12:00am - 02:00pm</p>
								</div>
								<div class="sch_content-wrapper col-sm-9">
									<h3 class="event-title">Dr. Michael A. VanPutte</h3>
								</div>
							</div>
						</div>

						<div class="col-md-10 col-md-offset-2 dow-content">
							<div class="full row mix schedule-item event" style="display: block;" >
								<!-- TIME -->
								<div class="time-wrapper col-sm-3">
									<p>03:00pm - 04:00pm</p>
								</div>
								<div class="sch_content-wrapper col-sm-9">
									<h3 class="event-title">Dr. Michael A. VanPutte</h3>
								</div>
							</div>
						</div>

					</div>

					<br><br>

					<!-- DAY -->
					<div class="dow Wed row full">
						<div class="col-sm-2 dow-label">
							<h2>Wed</h2>
							<small>June 21st</small>
						</div>

						<div class="col-sm-10 dow-content">
							<div class="full row mix schedule-item event" style="display: block;" >
								<!-- TIME -->
								<div class="time-wrapper col-sm-3">
									<p>09:00am - 10:00am</p>
								</div>
								<div class="sch_content-wrapper col-sm-9">
									<h3 class="event-title">Enrico Branca</h3>
								</div>
							</div>
						</div>
						<div class="col-sm-10 dow-content">
							<div class="full row mix schedule-item event" style="display: block;" >
								<!-- TIME -->
								<div class="time-wrapper col-sm-3">
									<p>10:30am - 11:30am</p>
								</div>
								<div class="sch_content-wrapper col-sm-9">
									<h3 class="event-title">Enrico Branca</h3>
								</div>
							</div>
						</div>
						<div class="col-md-10 col-md-offset-2 dow-content">
							<div class="full row mix schedule-item event" style="display: block;" >
								<!-- TIME -->
								<div class="time-wrapper col-sm-3">
									<p>12:00am - 02:00pm</p>
								</div>
								<div class="sch_content-wrapper col-sm-9">
									<h3 class="event-title">Enrico Branca</h3>
								</div>
							</div>
						</div>

						<div class="col-md-10 col-md-offset-2 dow-content">
							<div class="full row mix schedule-item event" style="display: block;" >
								<!-- TIME -->
								<div class="time-wrapper col-sm-3">
									<p>03:00pm - 04:00pm</p>
								</div>
								<div class="sch_content-wrapper col-sm-9">
									<h3 class="event-title">Enrico Branca</h3>
								</div>
							</div>
						</div>

					</div>

					<br><br>
					<div class="dow Thu row full">
						<div class="col-sm-2 dow-label">
							<h2>Thu</h2>
							<small>June 22nd</small>
						</div>

						<div class="col-sm-10 dow-content">
							<div class="full row mix schedule-item event" style="display: block;" >
								<!-- TIME -->
								<div class="time-wrapper col-sm-3">
									<p>09:00am - 10:00am</p>
								</div>
								<div class="sch_content-wrapper col-sm-9">
									<h3 class="event-title">Chuanda Ding</h3>
								</div>
							</div>
						</div>
						<div class="col-sm-10 dow-content">
							<div class="full row mix schedule-item event" style="display: block;" >
								<!-- TIME -->
								<div class="time-wrapper col-sm-3">
									<p>10:30am - 11:30am</p>
								</div>
								<div class="sch_content-wrapper col-sm-9">
									<h3 class="event-title">Chuanda Ding</h3>
								</div>
							</div>
						</div>
						<div class="col-md-10 col-md-offset-2 dow-content">
							<div class="full row mix schedule-item event" style="display: block;" >
								<!-- TIME -->
								<div class="time-wrapper col-sm-3">
									<p>12:00am - 02:00pm</p>
								</div>
								<div class="sch_content-wrapper col-sm-9">
									<h3 class="event-title">Chuanda Ding</h3>
								</div>
							</div>
						</div>

						<div class="col-md-10 col-md-offset-2 dow-content">
							<div class="full row mix schedule-item event" style="display: block;" >
								<!-- TIME -->
								<div class="time-wrapper col-sm-3">
									<p>03:00pm - 04:00pm</p>
								</div>
								<div class="sch_content-wrapper col-sm-9">
									<h3 class="event-title">Chuanda Ding</h3>
								</div>
							</div>
						</div>

					</div>


					<br><br>

					<div class="dow Tue row full">
						<div class="col-sm-2 dow-label">
							<h2>Fri</h2>
							<small>June 23rd</small>
						</div>

						<div class="col-sm-10 dow-content">
							<div class="full row mix schedule-item event" style="display: block;" >
								<!-- TIME -->
								<div class="time-wrapper col-sm-3">
									<p>09:00am - 10:00am</p>
								</div>
								<div class="sch_content-wrapper col-sm-9">
									<h3 class="event-title">Dragos Ruiu</h3>
								</div>
							</div>
						</div>
						<div class="col-sm-10 dow-content">
							<div class="full row mix schedule-item event" style="display: block;" >
								<!-- TIME -->
								<div class="time-wrapper col-sm-3">
									<p>10:30am - 11:30am</p>
								</div>
								<div class="sch_content-wrapper col-sm-9">
									<h3 class="event-title">Dragos Ruiu</h3>
								</div>
							</div>
						</div>
						<div class="col-md-10 col-md-offset-2 dow-content">
							<div class="full row mix schedule-item event" style="display: block;" >
								<!-- TIME -->
								<div class="time-wrapper col-sm-3">
									<p>12:00am - 02:00pm</p>
								</div>
								<div class="sch_content-wrapper col-sm-9">
									<h3 class="event-title">Dragos Ruiu</h3>
								</div>
							</div>
						</div>

						<div class="col-md-10 col-md-offset-2 dow-content">
							<div class="full row mix schedule-item event" style="display: block;" >
								<!-- TIME -->
								<div class="time-wrapper col-sm-3">
									<p>03:00pm - 04:00pm</p>
								</div>
								<div class="sch_content-wrapper col-sm-9">
									<h3 class="event-title">Dragos Ruiu</h3>
								</div>
							</div>
						</div>

					</div>



				</div>
			</div>
		</div>
	</div>
</div>
{{ sponsors-section }}
{{ main-footer }}
