{{ actis-jumbotron }}

<section>
	<div class="container">
		<div class="row">
			<h1 class="bg-txt">Travel & accomodation</h1>
			<h3 class="md-txt">Sarajevo</h3>
			<p class="sm-txt">
				Welcome to Bosnia and Herzegovina and Sarajevo that preserve long trails of civilizations throughout millenniums. Great cultures and religions of South and North, Western and Eastern Christianity, Islam and Judaism but also great empires of European history have met and joint here.
			</p>
			<img class="img-responsive" src="http://i.huffpost.com/gen/2628598/images/o-SARAJEVO-facebook.jpg" />
			<p class="xsm-txt sm-padding-top">
				The area that Sarajevo occupies has been continuously inhabited since the Prehistoric period. It becomes a city with arrivals of the Ottomans in the 15th century, and a capital of independent B&H in 1992. Sarajevo has always connected East and the West thus creating a unique blend of history, culture and heritage.The modern city arose as an Ottoman stronghold in the 15th century. Sarajevo has attracted international attention several times throughout its history: In 1914 it was the site of the assassination that sparked World War I, while seventy years later it became the host city of the 1984 Winter Olympics. More recently, Sarajevo underwent the longest siege in modern military history during the Bosnian War.Today the city is recovering and adjusting to a post-war reality, as a major center of culture and economic development in Bosnia and Herzegovina. Sarajevo was also the first city in Europe and the second city in the world to have a full-time operational electric tram network running through the city, the first being San Francisco. Lonely Planet has named Sarajevo as the 43rd best city in the world and in December 2009 listed Sarajevo as one of the top ten cities to visit in 2010.
			</p>
		</div>
		<div class="row">
			<h3 class="md-txt">Tourism</h3>
			<p class="sm-txt">
				Bosnia and Herzegovina's fascinating capital Sarajevo nestles among dramatic peaks, a bustling and welcoming city. War took its toll, with the 1992-1996 siege hitting hard. But the lively, diverse, museum-rich city has been almost entirely reconstructed. Don't miss Bijambare caves, set in thick forests and amid lakes to the north of the city, or Bosna Springs, from which the country takes its name. Site of 1984's Winter Olympics, Sarajevo offers spectacular skiing on Mount Bjelasnica Jahorina.
				<br />
				<br />
				Sarajevo is host to many parks throughout the city and on the outskirts of city. A popular activity among Sarajevo citizens is street chess, usually played at Trg oslobođenja Alija Izetbegović. Veliki Park is the largest green area in the center of Sarajevo. It’s nestled between Titova, Koševo, Džidžikovac, Tina Ujevića and Trampina Streets and in the lower part there is a monument dedicated to the Children of Sarajevo. Hastahana skate park is a popular place to relax in the Austro-Hungarian neighborhood of Marijin Dvor. Goat's Bridge, locally known as Kozija Ćuprija, in the Miljacka Canyon is also a popular park destination along the Dariva walkway and river Miljacka.
				<br />
				<br />
				Sarajevo is also famous for its city lookouts; including an observation deck on Avaz Twist Tower, Park Prinčeva restaurant, Vidikovac lookout (Mt. Trebević), Zmajevac lookout and Yellow/White fortresses lookouts (in Vratnik) as well as numerous other rooftops throughout the city (i.e. Alta Shopping Center, BBI Center, Hotel Hecco Deluxe).
				<br />
				<br />
				<a class="btn btn-primary" href="https://www.hotels.com/de110206/hotels-sarajevo-bosnia-and-herzegovina/" target="_blank">Browse hotels in Sarajevo</a>
			</p>
		</div>
		<div class="row">
			<h3 class="md-txt">Visas</h3>
			<p class="sm-txt">
				Authors, session chairs as well as other attendees for ICAT-2017 please check if you need a VISA for traveling to Bosnia and Herzegovina.Obtaining entry visa for Bosnia & Herzegovina is not required for most European countries, USA, Japan, Turkey, etc. It is the attendants’ responsibility to find out about his/her country’s visa requirements. Useful information can be found on http://www.mfa.ba/konzularne_informacije/vize/Default.aspx .
				<br />
				Visa application letter requests can be directed to: icat@etf.unsa.ba, including visa as a message subject. As the visa process sometimes is time consuming you are advised to make your visa application on time to avoid last minute problems.
				<br />
				Visa assistance requests have to be received before October 1st, 2017 to be processed on time for the conference.
			</p>
		</div>
	</div>
</section>

{{ main-footer }}