<div class="container">
  <div class="row">
    <h1 class="bg-txt col-md-12">Welcome user</h1> &nbsp;&nbsp;
    {{#link-to 'passwordchange'}}<a href="passwordchange">Change password</a>{{/link-to}} <br>
  </div>
  <br>
  <div class="row">
    <div class="col-md-6">
      <h1 class="bg-txt">Submit work</h1>

      {{#link-to 'worksubmit'}} 	<a class="btn btn-primary"> ADD DOCUMENT </a> {{/link-to}}


    </div>
    <div class="col-md-6">
      <h1 class="bg-txt">Your documents</h1>
      <ul class="nav navbar-left">
        <li> 	{{#link-to 'dokument.userdoc'}} 	<a class="btn btn-primary"> ALL DOCUMENTS </a> {{/link-to}} </li>

        <li> 	{{#link-to 'dokument.userRdoc'}} 	<a class="btn btn-primary"> REVIEWED DOCUMENTS </a> {{/link-to}} </li>
      </ul>

    </div>
  </div>

</div>

{{ sponsors-section }}
{{ main-footer }}
