{{ actis-jumbotron }}

//Za DODAVANJE KORISNICKOG RADA I prihvatanje uslova
<div class="container">
<div class="row">
  <h1 class="bg-txt">Submit work</h1>
  <form>
    <input type="file" accept="pdf/*" name="userwork" id="userwork" required>
  <br>
  				<div class="labela" id="labeluserwork"></div>
          {{input type="checkbox" id="test5" checked=isChecked}} <label for="test5">I accept the terms and conditions for the transfer of my work and public sharing my personal data.</label>
  <br>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
<br><br>
</div>
</div>

{{ sponsors-section }}
{{ main-footer }}
